<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Java Blog App</title>
    <link
      href=" 	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      type="text/css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://javablogapi-production.up.railway.app/images/spring-boot-logo.png"
    />
  </head>
  <body>
    <style>
      .post {
        border-bottom: 1px solid black;
        width: 45%;
        padding: 1.5%;
      }
    </style>
    <h1 class="mb-3 ms-3">Java Blog Application</h1>
    <form
      onsubmit="addPost(event)"
      class="w-50 mx-3 needs-validation"
      novalidate
    >
      <div class="input-group mb-3">
        <div class="form-floating">
          <input type="text" id="title" class="form-control" required />
          <label for="title" class="form-label">Title</label>
          <div class="invalid-feedback">Invalid</div>
        </div>
      </div>
      <div class="mb-3 input-group">
        <div class="form-floating">
          <textarea
            id="content"
            class="form-control"
            style="height: 150px"
            required
          ></textarea>
          <label for="content">Content</label>
          <div class="invalid-feedback">Invalid</div>
          <span class="badge text-bg-secondary" id="character-counter"></span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="posts"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      const baseApiUrl =
        "https://javablogapi-production.up.railway.app/api/posts";
      const postsSection = document.querySelector(".posts");
      const title = document.querySelector("#title");
      const content = document.querySelector("#content");
      const characterCounter = document.querySelector("#character-counter");
      let charCount = 0;

      characterCounter.innerHTML = `${charCount}/255`;

      content.addEventListener("input", (event) => {
        if (
          characterCounter.classList.contains("text-bg-danger") &&
          charCount <= 255
        ) {
          characterCounter.classList.replace(
            "text-bg-danger",
            "text-bg-secondary"
          );
        }
        charCount = content.value.length;
        characterCounter.innerHTML = `${charCount}/255`;

        if (charCount > 254) {
          characterCounter.classList.replace(
            "text-bg-secondary",
            "text-bg-danger"
          );
        }
      });

      async function getPosts() {
        const response = await fetch(baseApiUrl, {
          headers: {
            "Content-Type": "application/json",
          },
        });
        const data = await response.json();
        const posts = data.posts;
        posts.reverse().forEach((post) => {
          const postDiv = document.createElement("div");
          postDiv.innerHTML = `
                <h3>${post.title}</h3>
                <span class="badge rounded-pill text-bg-secondary mb-2">${new Date(
                  post.createdAt
                ).toLocaleDateString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}</span>
                <p>${post.content}</p>
                <a href="#" onclick="deletePost(${
                  post.id
                })" class="link-danger">Delete</a>
                <a href="/post/edit/${post.id}" class="ms-2">Edit</a>
                `;
          postDiv.className = "post";
          postsSection.appendChild(postDiv);
        });
      }

      async function deletePost(postId) {
        const response = await fetch(baseApiUrl + "/delete/" + postId, {
          method: "DELETE",
        });
        const data = await response.json();
        window.location.reload();
      }

      async function addPost(event) {
        event.preventDefault();
        title.classList.remove("is-invalid");
        content.classList.remove("is-invalid");

        if (!title.value) {
          title.classList.add("is-invalid");
          if (!content.value) {
            content.classList.add("is-invalid");
            return;
          }
          return;
        }
        if (!content.value) {
          content.classList.add("is-invalid");
          return;
        }

        if (content.value.length > 255) {
          content.classList.add("is-invalid");
          return;
        }

        const requestBody = { title: title.value, content: content.value };

        console.log(requestBody);

        const response = await fetch(baseApiUrl + "/create", {
          headers: {
            "Content-Type": "application/json",
          },
          method: "POST",
          body: JSON.stringify(requestBody),
        });

        const data = await response.json();

        console.log(data);

        title.value = "";
        content.value = "";
        window.location.reload();
      }

      getPosts();
    </script>
  </body>
</html>
